@import "tailwindcss";
/*font-family: 'Anton', 'Inter', 'Nunito', 'Outfit', 'Poppins', 'Roboto', 'Space Grotesk', 'Work Sans', sans-serif;*/



.header-logo{
    font-family: 'Anton',sans-serif ;
    font-size: x-large;
    
}


.footer-logo{
    font-family: 'Poppins:ital',sans-serif ;
    font-weight: 800;
    font-size: xx-large;
}
.footer-content{
    font-family: 'Noto Sans KR',sans-serif ;
    color: #6c757d;
    font-size: small;
    
}
.footer-icon{
    @apply border rounded-2xl p-2
}
